@import url('https://fonts.googleapis.com/css?family=Laila:400,700|Lobster&subset=latin-ext');
.modal { width: 50% !important ; height: 64% !important ; } 
.Card{ display:none; }
.justify { text-align: justify; }
.fontecontato{ font-family: 'Lobster 1.4', 'Lobster';}