@charset 'utf-8';
.setas{
	display: inline-block;
	position: relative;
	color: rgba(0,0,0,0);
}

.setas-direita{
	 float: right;
	 transform: translate(-20px, -200px) scale(5);
}

.setas-esquerda{
	float: left;
	transform: translate(20px, -200px) scale(5);
}

.setas:hover{
	color: rgba(21, 101, 192, 1);
	color
}
